#!/bin/bash

# Set bash as our shell
export SHELL="$(which bash)";

# Set vim as default editor
export EDITOR=/usr/bin/vim;

# Set history length and do not put duplicate lines in the history (see bash(1))
export HISTSIZE=1000;
export HISTFILESIZE=2000;
export HISTCONTROL=ignoredups;

# Set colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01';
