[alias]
	a = add
	b = branch -avv
	c = checkout
	d = branch -d
	f = fetch --all -ap
	m = commit -m
	r = reset HEAD~
	s = !git f && echo '-------' && git b && echo '-------' && git status -s

[core]
	editor = vim

[pull]
	rebase = false
